@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/css/about_us.css";
@import "../styles/css/catalog.css";
@import "../styles/css/citata.css";
@import "../styles/css/fonts.css";
@import "../styles/css/HIW.css";
@import "../styles/css/main.css";
@import "../styles/css/nav.css";
@import "../styles/css/planshet.css";
@import "../styles/css/question.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}
